<%
# SPDX-FileCopyrightText: 2021 Simon Arlott
# SPDX-License-Identifier: AGPL-3.0-or-later
%>
<%== pagination_nav(@list.pagination) if @list.pagination.pages > 1 %>
<% if @list.pagination.page.to_i < @list.pagination.pages %>
<span id="more_link" class="no_css" data-href="<%= incremental_bookmark_path(auto_list_context(format: "json", page: @list.pagination.next)) %>"></span>
<% end %>
