<%
# SPDX-FileCopyrightText: 2021 Simon Arlott
# SPDX-License-Identifier: AGPL-3.0-or-later

content_for :title, "Edit #" + @bookmark.id.to_s
content_for :robots, "noindex"
%>
<h1>Editing Bookmark</h1>
<%= render partial: "form", locals: { bookmark: @bookmark } %>
<ul class="menu">
	<li><%= link_to "Reset", edit_bookmark_path(@bookmark), rel: "nofollow", class: "reset" %></li>
	<li><%= link_to "Back", bookmark_path(@bookmark), rel: "nofollow", class: "back" %></li>
	<li><%= link_to "Delete", delete_bookmark_path(@bookmark, request_forgery_protection_token => form_authenticity_token), rel: "nofollow", class: "delete", data: { confirm: "Are you sure?" } %></li>
</ul>
