<%
# SPDX-FileCopyrightText: 2021 Simon Arlott
# SPDX-License-Identifier: AGPL-3.0-or-later

content_for :title, "New"
content_for :robots, "noindex"
%>
<h1>New Bookmark</h1>
<%= render partial: "form", locals: { bookmark: @bookmark } %>
<ul class="menu">
	<li><%= link_to "Reset", new_bookmark_path(auto_params_context), rel: "nofollow", class: "reset" %></li>
	<li><%= link_to "Back", auto_root_path, class: "back" %></li>
</ul>
