<%- content_for :title, "New" -%>
<%- content_for :robots, "noindex" -%>
<h1>New Bookmark</h1>
<%= render 'form', bookmark: @bookmark %>
<ul class="menu">
	<li><%= link_to "Reset", new_bookmark_path, rel: "nofollow" %></li>
	<li><%= link_to "Back", root_path %></li>
</ul>

