/* SPDX-FileCopyrightText: 2021 Simon Arlott */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.no_css
	display: none

nav.pagination ul, ul.menu, ul.tags
	display: flex
	flex-wrap: wrap

	li
		list-style: none

nav.pagination ul
	margin: 0
	padding: 0

	li
		margin: 0
		padding: 0

ul.menu
	$pad_links: 1ch
	$pad_lines: 5pt

	margin: 0 0 (-($pad_lines)) 0
	padding: 0

	li
		margin: 0 0 $pad_lines $pad_links
		padding: 0 0 0 $pad_links

		border-left: 1px solid #000

	li:first-child
		border-left: none
		margin-left: 0
		padding-left: 0

ul.item.menu
	li
		padding-left: 1ch

	li:first-child
		padding-left: 0


@mixin tags($tagfg, $tagbg, $tagfg_active, $weight)
	$tagbg_active: $tagbg
	$border: 1pt
	$outline: 2pt
	$padding: 2pt
	$clearance: $border + max($padding, $outline)

	margin: 0 0 (-($clearance)) 0
	padding: 0

	li
		margin: $clearance $clearance $clearance 0
		padding: 0

		color: $tagfg
		background-color: $tagbg

		font-size: smaller
		font-weight: $weight

	a
		margin: 0
		padding: ($padding / 2) $padding ($padding / 2) $padding
		border: $border solid $tagfg
		border-radius: 5pt

		color: $tagfg
		background-color: $tagbg

		text-decoration-line: none

	li.matching, li:hover
		a
			color: $tagbg
			background-color: $tagfg

	li.matching:hover
		a
			color: $tagfg
			background-color: $tagbg

	li a:focus
		color: $tagbg_active
		background-color: $tagfg_active
		border-color: $tagfg_active
		outline: $outline solid $tagfg_active

	li.matching a:focus
		color: $tagfg_active
		background-color: $tagbg_active
		border-color: $tagfg_active
		outline: $outline solid $tagfg_active

	span.count
		font-size: smaller
		vertical-align: top

	strong
		font-weight: $weight

ul.main.tags
	@include tags(#f63, #fff, #c00, bold)

ul.item.tags
	@include tags(#999, #fff, #c00, normal)

ul.main.tags a:hover span.name, ul.item.tags a:hover
	text-decoration-line: underline

ol.bookmarks
	margin: 0
	padding: 0

	list-style: none

	a.bookmark
		font-size: larger

	li
		margin-bottom: 0.5em
		padding: 0

	dl, dt, dd
		margin: 0
		padding: 0

	dl
		display: flex
		flex-wrap: wrap

	dd
		margin-right: 1ch

a.icon
	margin: 0 0 0 0.5ch
	padding: 0 0.5ch 0 0.5ch

	text-decoration-line: none

	span
		display: none

a.bookmarklet
	text-decoration-line: none

a.new:before
	content: "❇️ "

a.reset:before
	content: "♻️ "

a.back:before
	content: "⬅️ "

a.edit:before
	content: "📝 "

a.delete:before
	content: "❌ "

a.login:before
	content: "🔑 "

a.account:before
	content: "👤 "

a.logout:before
	content: "🚪 "

a.source:before
	content: "📄 "

nav.pagination ul
	$navfg: #00c
	$navbg: #fff
	$border: 1px
	$padding: 1ch

	border-left: $border solid $navfg

	font-size: larger

	li
		padding: 0 $padding 0 $padding

		border-style: solid
		border-color: $navfg
		border-width: $border $border $border 0

	li.active
		font-weight: bold

	li:hover
		a:link, a:visited, a:hover, a:active
			color: $navbg
			background-color: $navfg

	a
		display: block

		margin: 0 (-$padding) 0 (-$padding)
		padding: 0 $padding 0 $padding

		text-decoration-line: none
